{% extends 'base.html' %}
{% load static %}

{% block 'main' %}
<!-- main content start-->
<h2 class="bg-info">About Cars Store</h2>
<hr>

<div class="col-md-12">
    <img src="{% static 'images/cs1.jpg' %}" width="100%" height="400 px" alt="" />
  </div>
  
<br>

    <p>The <strong>Cars Store</strong> helps to get parts of various cars of different models within all cars,
        this site helps customer to get parts as per <br>requirement to build and modity their fantastic or dream car.
        <br>
        We give user the best experience to get choice their requirement, and they can order them, and we reach their order in time.
        We are here <em>since 1984</em>, we develops reputation to our well being of the customers, and still counting their happy buying
        from our site.
        
    </p>

    <!-- main content send-->
{% endblock 'main' %}