{% load static %}
        <!-- footer start-->
        <div class="row mt-5 bg-body-secondary">
          <div class="col-md-4">
            <h5>Links Directed</h5> <hr>
            <p><a href="/" class="anchor"><i class="bi bi-house-door-fill text-warning"></i>&nbsp;Home</a>&nbsp&nbsp
            <a href="/about" class="anchor"><i class="bi bi-info-circle-fill text-warning"></i>&nbsp;About</a></p>
            <p><a href="/contact" class="anchor"><i class="bi bi-person-lines-fill text-warning"></i>&nbsp;Contact</a>&nbsp&nbsp
            <a href="/viewcart" class="anchor"><i class="bi bi-shop text-warning"></i>&nbsp;Store</a></p>
          </div>
            <div class="col-md-4">
              <h5>Office Address & Contacts</h5> <hr>
              V.S IT Park<br>
              Near NA Peak Point - Nagpur<br>
              <p><i class="bi bi-telephone-fill text-warning"></i> :8654123895&nbsp&nbsp
              <i class="bi bi-envelope-fill text-warning"></i> :carsstore@gmail.com</p>
            </div>
            
            <div class="col-md-4">
              <h5>Connect with us</h5> <hr>
              <h5><a href="http://www.facebook.com"><i class="bi bi-facebook text-warning"></i></a>&nbsp
              <a href="http://www.linkedin.com"><i class="bi bi-linkedin text-warning"></i></a>&nbsp
              <a href="http://www.twitter.com"><i class="bi bi-twitter text-warning"></i></a>&nbsp
              <a href="http://www.github.com"><i class="bi bi-github text-warning"></i></a>&nbsp
              <a href="http://www.telegram.com"><i class="bi bi-telegram text-warning"></i></a>&nbsp
              <a href="http://www.instagram.com"><i class="bi bi-instagram text-warning"></i></a></div></div></h5>
              
            </div>
          </div>
          <!-- footer end-->
          
      </div>
      <script src="{% static 'asset/js/popper.min.js' %}"></script>
<script src="{% static 'asset/js/bootstrap.min.js' %}"></script>
  </body>
  </html>
