{% extends 'base.html' %}
{% load static %}

{% block 'main' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="static/asset/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/asset/css/style.css" />
</head>
<body>
    <div class="container">
      <div class="row mt-5">
        
    </div>
        <div class="row">
            <div class="col-md-5 shadow mt-4 mx-auto">
                <h2>Registration</h2>
                {% if errmsg %}
                <div class="alert alert-danger">
                    {{errmsg}}
                </div>
                {% endif %}
                <form method="POST" action="/register">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="input1" class="form-label"><strong>Username:</strong></label>
                        <input type="email" name="uname" class="form-control" id="input1" placeholder="Enter your username">
                      </div>

                      <div class="mb-3">
                        <label for="input2" class="form-label"><strong>Password:</strong></label>
                        <input type="password" name="upass" class="form-control" id="input2" placeholder="Enter your password">
                      </div>

                      <div class="mb-3">
                        <label for="input3" class="form-label"><strong>Confirm Password:</strong></label>
                        <input type="password" name="ucpass" class="form-control" id="input3" placeholder="Confirm your password">
                      </div>

                      <div class="mb-3">
                        &nbsp&nbsp&nbsp&nbsp <input type="submit" class="btn btn-warning" value="Register" />
                        &nbsp&nbsp OR &nbsp &nbsp <a href="/login" class="anchor btn btn-info">Login</a>
                      </div>

                      {% if success %}
                    <div class="alert alert-success">
                        {{success}}
                    </div>
                    {% endif %}

                </form>
            </div>
        </div>
    </div>
    
    <script src="static/asset/js/bootstrap.min.js"></script>
</body>
</html>

{% endblock 'main' %}
